<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>MathBox - Example: Bezier Surface</title>

        <!--
    This example shows how a bicubic bezier surface is made, using lots of custom expressions and clocks. Also shows how to use the director class.
  -->

        <script type="text/javascript" charset="utf-8" src="MathBoxJs/vendor/domready.js"></script>
        <script type="text/javascript" charset="utf-8" src="MathBoxJs/build/MathBox-bundle.js"></script>

        <script type="text/javascript">
            DomReady.ready(function() {
                if (location.href.match(/^file:/)) {
                    document.getElementById('info').style.opacity = 1;
                    document.getElementById('info').innerHTML = "Sorry. This example does not work when accessed using file://. Please use an http:// host and try again.";
                }
            });
        </script>

        <script type="text/javascript">
            /**
         * Bootstrap
         */
            var assets,
                mathbox;
            DomReady.ready(function() {
                ThreeBox.preload([
                    './MathBoxJs/build/MathBox.glsl.html',
                    // 'MathBoxJs/shaders/snippets.glsl.html',
                    'MathBoxJs/resources/texture.png'
                ], function(assets) {
                    assets['texture'].repeat.set(2, 2);
                    assets['texture'].offset.set(-.5, -.5);
                    window.assets = assets;
                    mathbox = window.mathbox = mathBox({
                        cameraControls: true,
                        cursor: true,
                        controlClass: ThreeBox.OrbitControls,
                        elementResize: true,
                        fullscreen: true,
                        screenshot: true,
                        stats: false,
                        scale: 1
                    }).start();

                    // window.mathboxSetup(mathbox, assets);
                });
            });

            window.mathboxScript = [
                // clean, switch to polar, show axis grid
                [
                    ['remove', '#surf']
                ]
            ]

            window.mathboxSetupBase = function(mathbox, assets, data, i) {
                var new_div = document.createElement('div');
                $(new_div).html('T: ' + (i.val * 0.1).toFixed(2));
                new_div.id = 'sys_time';
                $("body").append(new_div);

                mathbox.viewport({
                    type: 'cartesian',
                    range: [
                        [
                            data.a.x1, data.b.x1
                        ],
                        [
                            -3, 3
                        ],
                        [data.a.x2, data.b.x2]
                    ]
                }).camera({
                    orbit: 4,
                    phi: τ / 4 - .8,
                    theta: 1.1
                }).transition(300)

                // Axes
                    .axis({
                    id: 'a',
                    axis: 0,
                    color: 0xa0a0a0,
                    ticks: 10,
                    lineWidth: 1,
                    size: .1,
                    labels: true
                }).axis({
                    id: 'b',
                    axis: 1,
                    color: 0xa0a0a0,
                    ticks: 10,
                    lineWidth: 1,
                    size: .1,
                    zero: false,
                    labels: true
                }).axis({
                    id: 'c',
                    axis: 2,
                    color: 0xa0a0a0,
                    ticks: 10,
                    lineWidth: 1,
                    size: .1,
                    zero: false,
                    labels: true
                })
            }

            window.mathboxSetup = function(mathbox, assets, data, i) {

                var script = window.mathboxScript;
                var director = window.director = new MathBox.Director(mathbox, script);
                director.forward();
                $('#sys_time').html('T: ' + (i.val * 0.1).toFixed(2));
                // Viewport camera/setup
                //    mathbox
                //    Polar viewport
                mathbox
                // Cartesian viewport
                    .surface({
                    id: 'surf',
                    n: [
                        90, 90
                    ],
                    color: 0xffffff,
                    shaded: true,
                    map: assets['texture'], // Asset name is the filename without extension
                    mapColor: 1,
                    mapOpacity: 1,
                    domain: [
                        [
                            data.a.x1, data.b.x1
                        ],
                        [data.a.x2, data.b.x2]
                    ],
                    data: data.answer[i.val]
                });

                if (i.val >= data.answer.length - 1) 
                    i.val = 0;
                else 
                    i.val = i.val + 1;
                }
        </script>

        <script type="text/javascript">
            /**
         * Custom helpers
         */

            // Arbitrary function
            function surfaceFunc(x, y) {
                var t;
                this.h = 1;
                this.tau = 1;
                this.a = {
                    x: 0,
                    y: 0
                }
                var i = 0,
                    j = 0;
                var xi = this.a.x + i * this.h;
                var yi = this.a.y + j * this.tau;
                if ((x > xi - this.h && x <= xi) && (y > yi - this.tau && y <= yi)) 
                    t = (x - xi + this.h) / (this.h) * (y - yi + this.tau) / (this.tau);
                else if ((x > xi && x <= xi + this.h) && (y > yi - this.tau && y <= yi)) 
                    t = (xi + this.h - x) / (this.h) * (y - yi + this.tau) / (this.tau);
                else if ((x > xi - this.h && x <= xi) && (y > yi && y <= yi + this.tau)) 
                    t = (x - xi + this.h) / (this.h) * (yi + this.tau - y) / (this.tau);
                else if ((x > xi && x <= xi + this.h) && (y > yi && y <= yi + this.tau)) 
                    t = (xi + this.h - x) / (this.h) * (yi + this.tau - y) / (this.tau);
                else 
                    return 0;
                return [x, t, y];
            }
        </script>

        <script type="text/javascript">
            $(function() {
                $(window).on("message", function(e) {
                    var data = e.originalEvent.data;
                    if (data) {
                        var i = {
                            val: 0
                        };
                        window.setTimeout(function() {
                            window.mathboxSetupBase(mathbox, assets, data, i);
                            window.setInterval(function() {
                                window.mathboxSetup(mathbox, assets, data, i)
                            }, 2000);
                        }, 100);
                    }

                });
            });
        </script>

        <link href="base.css" rel="stylesheet" type="text/css" media="screen">

    </head>

    <body>
        <div id="info" class="transition">Use the
            <kbd>←</kbd>
            <kbd>→</kbd>
            keys to step through.</div>
    </body>

</html>