<div id="loader-page" class="all-height">
    <div class="loading-loader">
        <div class="row-loader">
            <div class="point-loader"></div>
            <div class="point-loader"></div>
            <div class="point-loader"></div>
            <div class="point-loader"></div>
        </div>
        <div class="row-loader">
            <div class="point-loader"></div>
            <div class="point-loader"></div>
            <div class="point-loader"></div>
            <div class="point-loader"></div>
        </div>
        <div class="row-loader">
            <div class="point-loader"></div>
            <div class="point-loader"></div>
            <div class="point-loader"></div>
            <div class="point-loader"></div>
        </div>
        <div class="row-loader">
            <div class="point-loader"></div>
            <div class="point-loader"></div>
            <div class="point-loader"></div>
            <div class="point-loader"></div>
        </div>
    </div>
</div>