<script type="text/ng-template" id="/checkbox.html">
    <section>
        <form class="ac-custom ac-radio ac-fill" autocomplete="off">
            <ul>
                <li ng-repeat="check in checkbox.source" ng-class="{'disabled': check.disabled}">
                    <input id="{{'r' + checkbox.index + $index}}"
                           name="check.name"
                           type="{{check.type}}"
                           ng-disabled="check.disabled"
                           ng-model="check.value"
                           ng-change="check.onChange && check.onChange()">
                    <label for="{{'r' + checkbox.index + $index}}"
                           ng-class="{'{{check.class}}': true}"
                           ng-bind-html="check.label | trustedAsHtml"
                           ng-disabled="check.disabled">
                    </label>
                </li>
            </ul>
        </form>
    </section>
    <div class="hr">
        <hr class="style-five">
    </div>
</script>

<script type="text/ng-template" id="/inputs.html">
    <section>
      <ul class="input-list style-4 clearfix flex-center">
        <li ng-repeat="input in inputs.source">
          <input type="{{input.type}}"
                 placeholder="{{input.placeholder}}"
                 ng-model="input.value"
                 class="blacky"
                 ng-change="input.onChange()">
        </li>
      </ul>
    </section>
    <div class="hr" ng-if="inputs.index">
        <hr class="style-five">
    </div>
</script>

<script type="text/ng-template" id="/inputs-dynamic.html">
    <section ng-repeat="addition in inputsDynamic.source">
      <h3 class="text-center" ng-bind="'Початкове спостереження ' + ($index + 1)"></h3>
      <inputs source="addition.start"></inputs>
      <h3 class="text-center" ng-bind="'Граничне спостереження ' + ($index + 1)"></h3>
      <inputs source="addition.boundaries"></inputs>
    </section>
    <div class="hr">
        <hr class="style-five">
    </div>
</script>

<div>
    <h1>
        <span>Solver</span>Дискретні спостереження та моделюючі функції
        <br>
        <strong>JYRIK team</strong>
    </h1>
    <div class="container">
        <!-- Top Navigation -->
        <div class="type" id="s1">
            <span class="subtitle">
                <h2>Тип задачі</h2>
            </span>
            <checkbox source="data.typeSource" index="1"></checkbox>
        </div>
        <div class="diff" id="s2">
            <div class="subtitle">
                <h2>Оберіть диф оператор</h2>
            </div>
            <checkbox source="data.diffOper" index="2"></checkbox>
        </div>
        <div class="bounds" id="s3">
            <div class="subtitle">
                <h2>Визначте границі</h2>
            </div>
            <inputs source="data.maxValues" index="3"></inputs>
        </div>
        <div id="s4" class="function">
            <div class="subtitle">
                <h2>Оберіть
                    <span class="en"> y(s)</span>
                </h2>
                <checkbox source="data.yByS" index="4"></checkbox>
            </div>
        </div>
        <div id="s5" class="additions">
            <div class="subtitle">
                <h2>Додаткові параметри</h2>
            </div>
            <inputs source="data.additions" index="5"></inputs>
        </div>
        <div id="s6">
            <div class="subtitle">
                <h2>Граничні і початкові спостереження</h2>
            </div>
            <inputs source="data.boundaries" index="5"></inputs>
            <inputs-dynamic source="data.boundariesValues" index="5"></inputs-dynamic>
        </div>
        <div id="s7" class="button flex-center">
            <button type="button" class="btn btn-success" ng-click="data.goLoader()">
                Далі
            </button>
        </div>
    </div>
</div>
